@font-face{
    font-family:gotham-light;
    src: url("../files/fontes/Gotham-Light.otf");
}

@font-face{
    font-family:gotham-bold;
    src: url("../files/fontes/Gotham-Bold.otf");
}

@font-face{
    font-family:gotham-medium;
    src: url("../files/fontes/Gotham-Medium.otf");
}

/*CODIGO NORMAL*/
*{
    margin:0;
    padding:0;
    text-decoration:none;
    list-style:none;
    overflow-x:hidden;
}

.rotas{
    background:#F8F8F8;
    height:900px;
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    color:#314839;
}

.rotasImagem{
    float:left;
    width:45%;
}
.rotasTexto{
    justify-content:center;
    align-items:center;
    width:40%;
    font-size:1.5em;
    font-family:gotham-light;
}

.rotasItens{
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:center;
}

.rotasWidget img{
    mix-blend-mode: multiply;
}

.rotasWidget{
    margin:30px;
    width:100px;
    text-align:center;
    height:150px;
}

.mapa,.mapa img{
    width:100%;
}

.mapa{
    height:1300px;
}

.descricaoMapa{
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    font-family:gotham-light;
}

.contentDescricao{
    width:50%;
    flex-direction:row;
    justify-content:space-between;
}

.descricaoMapa ul{
    margin:50px;
}

.footerFixed{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display:flex;
    flex-direction:row;
    color: white;
    text-align: center;
    height:80px;
}

.footerFixed img{
    padding:10px;
    width: 220px;
    height:50px;
}

#instagram{
    margin-top:12px;
    margin-left:-8px;
}

.whatsapp img{
    float:left;
    margin:5px;
}

.logos{
    display:flex;
    flex-direction:row;
    justify-content:center;
    background:#485A4B;
    width:60%;
    font-family:gotham-light;
    overflow:hidden;
}

.itemLogo{
    margin:15px;
    display:flex;
}

.logos i{
    font-size:1.5em;
    margin:10px;
}

.logos p{
    text-align: left;
    margin-left:15px;
    margin-top:18px;
    width:300px;
    overflow:hidden;
}

.whatsapp{
    background:#3A9713;
    width:40%;
}

.rotasTexto p{
    margin-top:10%;
    margin-left:5%;
}

.rotas h1{
    font-family:gotham-bold;
    margin:60px;
    width:1100px;
    text-align:center;
    font-size:40px;
}

.form{
    background:RGBA( 0, 0, 0, 0.7 );
    width:70%;
    height:72%;
    overflow:hidden;
    display:flex;
    justify-content:flex-end;
}

.headerForm{
    width:100%;
    display:flex;
    justify-content:center;
}

.headerForm h1{
    color:white;
    width:400px;
    font-family:gotham-bold;
    text-align:center;
    padding:25px;
}

.form form{
    height:550px;
    width:519px;
    background:#485A4B;
    float:right;
    position:absolute;
    margin-right:-200px;
    margin-top:120px;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.inputs{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    flex-wrap:wrap;
}

.inputs input,.inputs select,.inputs textarea{
    margin:10px;
    padding:20px;
    border-radius:5px;
    border:solid white;
    outline: none;
    resize:none;
}

.inputs select{
    color:#314839;
}

.inputs input::placeholder{
   color:#314839;
}

.inputs textarea::placeholder{
    color:#314839;
 }

.btn-enviar{
    color:white;
    background:#af5f48;
    border:solid #af5f48;
    width:51%;
    cursor:pointer;
}

.btn-recaptcha{
    width:44%;
    background:#FFFFFF;
    color:#C5C5C5;
    border: solid #FFFFFF;
}

#btnWhatsapp {
    display:none !important;
}  

.buttonsForm{
    width:97%;
    display:flex;
    align-items:center;
    /* background:red; */
    justify-content:center;
    font-family:gotham-light;
}

.buttonsForm button{
    margin:5px;
    padding:15px;
}

.inputs textarea{
    width:85%;
}

input[name='nome']{
    width:85%;
}

.inputs select{
    width:45%;
}

.input-50{
    width:36%;
}

.rotasHeader{
    display:flex;
}

.footerSolto{
    width:100%;
    display:flex;
    justify-content:center;
    padding:20px;
    height:110px;
    border-top:solid 1px #C5C5C5;
    color:#8B9975;
    font-family:gotham-light;
}

.footerSolto p{
    margin:3px;
}

#politicaPrivacidade{
    text-decoration:underline;
}

header{
    background: url("../files/imagens/MDR_FITNESS CENTER_LD.jpg") !important;
    height:874px;
    width:100%;
    background-size:100%;
    background-repeat:no-repeat;
}

main{
    display:flex;
    width:100%;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.descricao{
    background:#F5E8DF;
    height:600px;
    width:100%;
    align-items:center;
}

.segundaDescricao{
    width:100%;
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}

.imagemDescricao,.textoDescricao{
    width:50%;
}

.conteudoDescricao{
    margin:20px;
}

.conteudoTextoDescricao{
   height:615px;
}

.conteudoTextoDescricao h1{
    margin-top:25px;
    width:80%;
    font-size:30px;
    margin:30px;
    font-family:gotham-bold;
    color:#314839;
}

#textoDescricao{
    margin-top:20px;
    width:80%;
    color:#314839;
    margin:30px;
    font-family:gotham-light;
}

.gridDescricao{
    display:flex;
    margin-left:20px;
    width:100%;
    flex-direction:row;
    flex-wrap:wrap;
}

.plantas{
    background:#F5E8DF;
    height:1400px;
    width:100%;
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    margin-top:-4px;
}

.plantas img{
    width:510px;
    height:306px;
    margin-right:-100px;
}

.gridDescricao p{
    margin-top:20px;
    width:80%;
    color:#314839;
    font-family:gotham-light;
}

.itemGridDescricao{
    /* margin:10px; */
    width:250px;
    display:flex;
    flex-direction:column;
}

.itemGridDescricao img{
    width:80px;
    height:80px;
}

#btnMapa{
    display:flex;
    width:100%;
    justify-content:center;
}

.headerDescricao{
    display:flex;
    flex-direction:column;
    width:100%;
    align-items:center;
    text-align:center;
    margin-top:40px;
    font-family:gotham-light;
    font-size:1.5em;
    color:#B56B55;
}

.headerPlantas{
    font-family:gotham-bold;
    display:flex;
    flex-direction:column;
    text-align:center;
    font-size:1.5em;
    color:#B56B55;
}

.headerPlantas h1{
    margin:20px;
}

.headerDescricao h1{
    margin:20px;
}

.headerDescricao h1{
    width:1000px;
}

.headerDescricao h3{
    width:1200px;
}

.descricaoGrid{
    justify-content:center;
    display:flex;
    width:100%;
    flex-direction:row;
    flex-wrap:wrap;
    margin-top:100px;
}

.descricaoItem img{
    mix-blend-mode: multiply;
}

.descricaoItem{
    text-align:center;
    margin:10px;
    width:180px;
    font-family:gotham-light;
    color:#B56B55;
}

.btn-info{
    color:white;
    padding:20px;
    background:#af5f48;
    border:solid #af5f48;
    margin:10px;
    font-family:gotham-light;
}

#grid{
    width:70%;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
}

.gridItem{
    width:228px;
    height:180px;
    text-align:center;
    font-family:gotham-light;
    font-size:15px;
    color:#314839;
    /* border:solid;
    background:red; */
    margin:5px;
}

.gridItem i{
    background:white;
    color:#314839;
    float:right;
    padding:5px;
    font-size:10px;
    margin-top:-20px;
    margin-right:7px;
    position:relative;
    z-index:10;
}

.gridItem img{
    width:228px;
    height:154px;
}

nav{
    width:100%;
    display:flex;
    justify-content:center;
    background:#C3CC99;
    opacity:0.8;
    padding:10px;
}

.listSubheader{
    background:rgb(150, 165, 113,0.9);
    width:40%;
    height:30%;
    float:right;
    font-family:gotham-light;
    color:white;
    margin-top:100px;
    padding:30px;
}

.listSubheader ul{
    margin:18px;
}

.listSubheader ul li{
    margin:10px;
}

.imagensPlantas{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}

.imagensPlantas div{
    display:flex;
    flex-direction:column;
    margin:5px;
    align-items:center;
}

.imagensPlantas span{
    display:flex;
    flex-direction:row;
    align-items:center;
    margin:5px;
    font-family:gotham-bold;
}

.imagensPlantas p{
    color:#AF5F48;
    margin:5px;
    font-size:1.5em;
}

.imagensPlantas i{
    color:white;
    background:#A1B88A;
    padding:10px;
    font-size:15px;
}

#subheader{
    background:url("../files/imagens/img-lp.jpg");
    height:552px;
    background-size:100%;
    background-repeat:no-repeat;
}

nav img{
    mix-blend-mode: multiply;
}

#labelGrid{
    width:100%;
    margin:10px;
    padding:20px;
    text-align:center;
    font-family:gotham-bold;
    color:#314839;
}

/*MEDIA QUERYES*/
@media only screen and (max-width: 1000px) {
    header{
        background:url("../files/imagens/MDR_FITNESS CENTER_LD.jpg");
    }
    
    nav img{
        width:200px;
        margin-right:40px;
    }

    .form{
        background:none;
        display:flex;
        justify-content:center;
        align-items:center;
        width:100%;
    }

    .headerForm{
        font-size:10px;
    }

    .form form{
        width:85%;
        height:700px;
        margin:0;
        margin-top:100px;
        /* margin-right:5px; */
    }

    .form input,.form select,.form textarea{
        width:100%;
    }

    .buttonsForm button{
        font-size:8px;
    }

    #subheader{
        height:100px;
        display:flex;
        align-items:center;
        justify-content:center;
    }

    .listSubheader{
        height:150px;
        width:85%;
        font-size:10px;
        padding:10px;
        position:absolute;
        /* margin-right:30px; */
        margin-bottom:200px;
    }

    #labelGrid{
        font-size:10px;
    }

    .headerDescricao h1,.headerDescricao h3{
        width:400px;
        overflow-wrap: break-word;
    }

    .segundaDescricao{
        width:100%;
        display:flex;
        /* justify-content:space-between; */
        flex-wrap:wrap;
        /* height:1200px; */
    }

    .imagemDescricao,.textoDescricao{
        width:100%;
        margin:0;
    }

    .textoDescricao{
        height:900px;
    }

    .itemGridDescricao{
        width:120px;
    }

    .headerDescricao{
        font-size:10px;
    }

    .headerDescricao h3{
        width:250px;
    }

    .gridDescricao{
        width:100%;
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
    }

    .mapa{
        height:700px;
    }

    .headerPlantas{
        font-size:10px;
    }

    .plantas img{
        width:500px;
        margin-right:5px;
        background:none;
        background:#DDCDC2;
        margin:20px;
    }

    .descricao{
        height:1000px;
    }

    .rotasWidget{
        width:100%;
    }

    .rotasImagem{
        width:100%;
    }

    #btnWhatsapp {
        position: fixed;
        bottom: 30px;
        right: 20px;
        display:flex;
        flex-direction:column;
        align-items:center;
        color:blue;
        display:block !important;
    } 
    
    #btnWhatsapp img{
        width:120px;
        height:120px; 
    }

    .footerSolto{
        width:100%;
        display:flex;
        flex-direction:column;
        justify-content: center;
    }

    .rotasTexto{
        text-align:center;
        width:50%;
        margin-left:210px;
    }

    .rotasItens{
        width:100%;
        display:flex;
        flex-wrap:wrap;
    }

    .rotasContent{
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
    }

    /* .footerSolto{
        display:none;
    } */

    .footerFixed{
        display:none;
    }

    .rotasHeader{
        margin:0;
        float:left;
    }

    .rotasHeader h1{
        font-size:10px;
    }
}